body {
    margin: 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-
    serif;

    font-size: 15px;
    line-height: 1.6;
    color:#fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */

.container {
    width: 100%;
    /* max-width: 1600px; */
    margin: 0 auto;
}


/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: 
    url("../images/intro.jpg") center
    no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 900px;
    text-align: center;
    
    margin: 0 auto;
}

.intro__title {
    font-size: 80px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    
    color: #dbdbdb;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title__blog {
    font-size: 80px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    
    color: #dbdbdb;
    text-transform: uppercase;
    line-height: 1;
}

.intro__line {
    max-width: 700px;
    border: none;
    background-color: #d18d28;
    color: c03030;
    height: 13px;
    border-radius: 10px;
}

.intro__h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 45px auto;
}


/* Button */

.button {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center; 
}


/* Header */

.header {
    max-width: 1600px;
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
}


/* Nav */

nav {
    font-size: 20px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color 0.3s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #fff;
    opacity: 0;

    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.2s linear;
}

.nav__link:hover {
    color: #d18d28;
}

.nav__link:hover:after {
    opacity: 1;
    transition: 0.3s;
    
}


/* Buttons */

.btn {
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(32, 32, 32, 0.815);
    display: inline-block;
    vertical-align: top;
    padding: 6px 15px;

    border: 3px solid #d18d28;
    border-radius: 4px;
    
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.btn:hover {
    background-color: rgba(59, 56, 56, 0.815);
}


/* Section */

.section__learning__languages {
    padding: 50px 0;
    
    margin: auto;
}
.section__header {
    max-width: 950px;
    width: 100%;
    margin: 0 auto 40px;
    color:rgba(32, 32, 32, 0.815);

    text-align: center;
}

.section__title {
    font-size: 56px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    color:rgba(32, 32, 32, 0.815);
    margin-bottom: -5px;
    line-height: 100%;
}

.section__suptitle {
    max-width: 700px;

    margin: auto;
    margin-top: 40px;

    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-
    serif;
    color:rgba(32, 32, 32, 0.815);
}


/* Languages */

.languages {
    margin: auto;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
}

.lang__in__work { 
    width: 13%;
    padding: 5px 0px;
    margin: auto;
    border: 4px solid;
    border-radius: 2px;

    text-align: center;
    
    color: #d18d28;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Yanone Kaffeesatz', 
    sans-serif; 
}


/* Image */

.image {
    margin: auto;
    max-width: 950px;
    display: flex;
}

.arrow__image {
    width: 5%;
    padding: 15px 0px;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
}


/* Description */

.description {
    margin: auto;
    max-width: 950px;
    display: flex;
}

.description__text {
    width: 20%;
    padding: 5px 5px;
    
    margin: auto;
    margin-top: 15px;

    color: #333;
    font-size: 22px;
    font-family: 'Yanone Kaffeesatz', 
    sans-serif;

    text-align: center;
    word-wrap: break-word;

    border: 2px solid #333;
    border-radius: 10px;

    transition:  0.2s linear;
}

.description__text:hover {
    transition:  0.2s linear;
    transform: scale(1.2);
}


/* Level */

.level {
    margin-top: 5%;
}

.background__line {
    background-color: #d18d28;
}

.lvl {
    margin: auto;
    max-width: 950px;
    display: flex;
    font-size: 33px;
    text-align: center;
}

.level__languages {

    padding: 50px 0;
    flex: 1 1 0;

    color: #fff;
    background-color: #d18d28;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', 
    sans-serif;
    text-transform: uppercase;

    border-right: 4px solid #ffffff88;
}

.level__languages__left {
    padding: 50px 0;
    flex: 1 1 0;
    color: #fff;
    background-color: #d18d28;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', 
    sans-serif;
    text-transform: uppercase;
    
    border-right: 4px solid #ffffff88;
}

.level__languages__right {
    padding: 25px 0;
    flex: 1 1 0;

    color: #fff;
    background-color: #d18d28;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', 
    sans-serif;
    text-transform: uppercase;
    
    border-radius: 0px 30px 30px 0px;
}